<% provide(:title, t('resetPwd.title')) %>
<p>&nbsp;</p>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><%= t('resetPwd.confirmTitle') %></h3>
                </div>
                <div class="panel-body">
                    <% flash.each do |message_type, message| %>
                        <div class="alert alert-<%= message_type %> alert-stay"><%= message %></div>
                    <% end %>
                    <%= form_with url: perform_password_reset_url do |form| %>
                        <%= form.hidden_field "email", value: @email %>
                        <%= form.hidden_field "token", value: @token %>
                        <fieldset>
                            <p style="line-height: 1.3em;"><small><strong><%= t('account.account_recovery_password') %>:</strong></small></p>
                            <div class="form-group">
                                <%= form.password_field :recovery_password, 
                                    class: "form-control", 
                                    placeholder: t('general.passwordRecovery') %>
                            </div>
                            <p style="line-height: 1.3em;"><small><%= t('resetPwd.recoveryPasswordInfo') %></small></p>
                            <p style="line-height: 1.3em;"><small><strong><%= t('resetPwd.newPassword') %>:</strong></small></p>
                            <div class="form-group">
                                <%= form.password_field :password, 
                                    class: "form-control", 
                                    placeholder: t('general.password') %>
                            </div>
                            <div class="form-group">
                                <%= form.password_field :password_confirmation, 
                                    class: "form-control", 
                                    placeholder: t('general.passwordConfirmation') %>
                            </div>
                            <%= form.button t('dialog.submitBtn'), 
                                class: "btn btn-success btn-lg btn-block",
                                data: { disable_with: 
                                    "<i class='fa fa-spinner fa-spin'></i> " + 
                                    t('dialog.submitBtn') } %>
                        </fieldset>
                    <% end %>
                </div>
            </div>
            <div style="margin: -10px auto 60px; display: table;">
                <%= link_to t('resetPwd.back'), login_path %>
            </div>
        </div>
    </div>
</div>