<% provide(:title, t('resetPwd.title')) %>
<p>&nbsp;</p>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><%= t('resetPwd.header') %></h3>
                </div>
                <div class="panel-body">
                    <% flash.each do |message_type, message| %>
                        <div class="alert alert-<%= message_type %>"><%= message %></div>
                    <% end %>
                    <%= form_with url: reset_password_url do |form| %>
                        <fieldset>
                            <div class="form-group">
                                <%= form.email_field :email, class: "form-control", placeholder: t('requestDataVault.yourEmail') %>
                            </div>
                            <p style="line-height: 1.3em;"><small><strong><%= t('dialog.attention') %>:</strong> 
                                <%= t('resetPwd.recoveryTxt') %></small></p>
                            <%= form.button t('dialog.submitBtn'), 
                                    class: "btn btn-success btn-lg btn-block",
                                    data: { disable_with: 
                                        "<i class='fa fa-spinner fa-spin'></i> " + 
                                        t('dialog.submitBtn') } %>
                        </fieldset>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>