<% provide(:title, @repo["name"] ) %>
<div class="row">
	<div class="col-xs-1">
		<%= link_to data_path, style: "text-decoration: none; color: black;" do %>
			<h1 style="text-align: left;"><i class="fa fa-arrow-left"></i></h1>
		<% end %>
	</div>
	<div class="col-xs-10">
		<h1><%= @repo['name'] rescue "" %></h1>
	</div>
</div>

<% flash.each do |message_type, message| %>
	<div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>

<%= will_paginate @items, previous_label: t('general.paging_previous'), next_label: t('general.paging_next') %>

<table id="items-table" class="table table-striped">
	<thead> 
		<tr>
			<th><span class="font-size-large"><%= t('data.id_title') %></span></th>
			<th><span class="font-size-large"><%= t('data.value_title') %></span></th>
			<th style="text-align: center"><span class="font-size-large"><%= t('data.action_title') %></span></th>
		</tr>
	</thead>
	<tbody>
		<%= render partial: "item_list", 
				   collection: @my_items, 
				   locals: { repo_id: @repo["id"] } %>
	</tbody>
</table>

<%= will_paginate @items, previous_label: t('general.paging_previous'), next_label: t('general.paging_next') %>
